.foodback {
  height: 1090px;
  background-color: #fff5ec;
  display: flex;
  align-items: center;
}
.rectangle {
  width: 25px;
  height: 140px;
  background: #35cd8c;
  padding-right: 25px;
}
.foodItem {
  color: #2e266f;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  padding-left: 15px;
}

.foodItem2 {
  color: #707070;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  width: 609px;
  height: 141px;
}

.cardtitle {
  position: absolute;
  background: #35cd8c;
  opacity: 0.7;
  border-radius: 0px 0px 20px 20px;
  left: 0;
  width: 100%;
}
.more {
  color: #35cd8c;
}

@media only screen and (max-width: 992px) {
  .foodItem {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  .foodItem2 {
    font-size: 14px;
    line-height: 24px;
  }
  .header {
    font-weight: 900;
    font-size: 150px;
    line-height: 225px;
  }
}
