.foodback {
  background-color: #fff5ec;
}
.rectangle {
  width: 25px;
  height: 140px;
  background: #35cd8c;
  padding-right: 25px;
}
.foodItem {
  color: #2e266f;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  padding-left: 15px;
}

.foodItem2 {
  color: #707070;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  width: 609px;
  height: 141px;
}

.cardtitle {
  background: #35cd8c;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  height: 195.59px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  position: absolute;
  left: 0px;
  top: 70%;
}
.cardhead {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}
.carddesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}
.more {
  color: #35cd8c;
}
.mark {
  width: 208px;
  height: 58px;
  background: #ffffff;
  border-radius: 100px 0px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #35cd8c;
}

@media only screen and (max-width: 992px) {
  .foodItem2 {
    font-size: 14px;
    line-height: 24px;
  }
  .header {
    font-weight: 900;
    font-size: 150px;
    line-height: 225px;
  }
  .cardtitle {
  }
}
