.booking {
  height: 1090px;
  background: #ffedde;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}
.bookingheader {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;
  text-transform: lowercase;
  color: #2e266f;
}

.bookcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: white;
  width: 1230px;
  height: 560px;
  padding: 0;
}

.bookingimg {
  left: 0px;
  top: 0px;
  padding: 0;
}

.bookingform {
  display: flex;
  flex-direction: row;
  padding: 2px;
  width: 544px;
  height: 90px;
}

input:focus {
  outline: none;
}
.bookingbtn{
  width: 128px;
  height: 90px;
  background: #35cd8c;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 90px;
  color: #ffffff;
  border: none;
}

@media only screen and (max-width: 992px) {
  .bookingform {
    width: 243px;
    height: 51px;
    justify-content: center;
  }
  .bookingbtn {
    width: 80px;
    height: 51px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
