.serviceItem {
  color: #2e266f;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.rectangle {
  width: 25px;
  height: 140px;
  background: #35cd8c;
}

.serviceItem2 {
  color: #707070;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.services {
  background-image: url(../../../public/img/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff5ec;
  padding-top: 15px;
}
.servicesimg {
  background-color: #ffedde;
  width: 660px;
  height: 758px;
}
.tabletitle {
  color: #2e266f;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}

.tabledesc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #707070;
}
.servicesback {
  background-color: #ffedde;
  width: 462px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicehead {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: #2e266f;
  margin: 10px;
}
@media only screen and (max-width: 992px) {
  .servicesimg {
    width: 462px;
    height: 550px;
  }
  .serviceItem2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }
}
